
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock title %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar  bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid d-flex align-items-center" >
        <a class="navbar-brand" href="#">Hush Hours</a>
        
        <div class=" navbar-collapse">
        <ul class="navbar-nav me-auto d-flex flex-row gap-3">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/all-chats">Chats</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/featured-groups">Featured Groups</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/profile">Edit my profile</a></li>
                <li><a class="dropdown-item" href="/buyartifacts">Buy Artifacts</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">How does it work?</a></li>
                <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                <li><a class="dropdown-item" href="#">User agreement</a></li>
            </ul>
            </li>
            <li class="nav-item">
            {% comment %} <a class="nav-link disabled" aria-disabled="true">Disabled</a> {% endcomment %}
            </li>
        </ul>
        {% comment %} <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
        </div>
    </div>
    </nav>

    {% block body %} {% endblock body %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>